<a href="https://colab.research.google.com/github/PravinV001/Python/blob/Class_N_Colab/Sachin's_ODI_Journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/101/397/original/Sachin_ODI.csv

--2025-12-22 15:45:15--  https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/101/397/original/Sachin_ODI.csv
Resolving d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)... 13.226.65.83, 13.226.65.68, 13.226.65.51, ...
Connecting to d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)|13.226.65.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26440 (26K) [text/plain]
Saving to: ‘Sachin_ODI.csv’

Sachin_ODI.csv      100%[===================>]  25.82K  --.-KB/s    in 0.06s

2025-12-22 15:45:16 (412 KB/s) - ‘Sachin_ODI.csv’ saved [26440/26440]

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sachin_data  = pd.read_csv("Sachin_ODI.csv")

sachin_data .head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [ ]:
sample_space= sachin_data['runs'].unique() #sample space

In [ ]:
len(sample_space)

122

In [ ]:
event_a= sachin_data[sachin_data['runs']>50]
event_b= sachin_data[sachin_data['Won']==True]


pd.merge(event_a,event_b, how='inner')

#joint event # Intersection of A ∩ B

#MATCHES WHERE SACHIN SCORED >50 AND INDIA WON

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,112,1,137,107,15,1,104.67,2,Sri Lanka,Sharjah,1995-04-09,India,True,True
1,127,1,175,138,15,1,92.02,2,Kenya,Cuttack,1996-02-18,India,True,True
2,70,0,137,91,8,0,76.92,2,West Indies,Gwalior,1996-02-21,India,True,False
3,118,0,-,140,8,2,84.28,1,Pakistan,Sharjah,1996-04-15,India,True,True
4,89,1,-,89,9,3,100.00,2,Pakistan,Toronto,1996-09-16,India,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,96,1,187,104,13,0,92.30,2,Sri Lanka,Cuttack,2009-12-21,India,True,False
69,200,1,226,147,25,3,136.05,1,South Africa,Gwalior,2010-02-24,India,True,True
70,53,0,93,68,7,0,77.94,2,Australia,Ahmedabad,2011-03-24,India,True,False
71,85,0,160,115,11,0,73.91,1,Pakistan,Mohali,2011-03-30,India,True,False
72,52,0,93,48,5,1,108.33,2,Pakistan,Dhaka,2012-03-18,India,True,False

In [ ]:
pd.concat([event_a, event_b]).drop_duplicates()

#matches where either event happens #Union #either this or this

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
5,112,1,137,107,15,1,104.67,2,Sri Lanka,Sharjah,1995-04-09,India,True,True
10,65,0,96,59,9,1,110.16,2,New Zealand,Nagpur,1995-11-26,New Zealand,False,False
12,127,1,175,138,15,1,92.02,2,Kenya,Cuttack,1996-02-18,India,True,True
13,70,0,137,91,8,0,76.92,2,West Indies,Gwalior,1996-02-21,India,True,False
14,90,0,124,84,14,1,107.14,2,Australia,Mumbai,1996-02-27,Australia,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,2,0,4,4,0,0,50.00,1,West Indies,Chennai,2011-03-20,India,True,False
349,18,0,21,14,2,0,128.57,2,Sri Lanka,Mumbai,2011-04-02,India,True,False
351,48,0,87,63,5,0,76.19,2,Sri Lanka,Perth,2012-02-08,India,True,False
356,39,0,45,30,5,0,130.00,2,Sri Lanka,Hobart,2012-02-28,India,True,False
357,6,0,25,19,1,0,31.57,1,Sri Lanka,Dhaka,2012-03-13,India,True,False

In [ ]:
event_a.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
5,112,1,137,107,15,1,104.67,2,Sri Lanka,Sharjah,1995-04-09,India,True,True
10,65,0,96,59,9,1,110.16,2,New Zealand,Nagpur,1995-11-26,New Zealand,False,False
12,127,1,175,138,15,1,92.02,2,Kenya,Cuttack,1996-02-18,India,True,True
13,70,0,137,91,8,0,76.92,2,West Indies,Gwalior,1996-02-21,India,True,False
14,90,0,124,84,14,1,107.14,2,Australia,Mumbai,1996-02-27,Australia,False,False

In [ ]:
#matches where event A did not happen

complement_event_A= sachin_data[~(sachin_data['runs']>50)]

In [ ]:
complement_event_A.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [ ]:
#practical

#PROBABILTY OF EITHER ONE EVENT OR ANOTHER HAPPENING (UNION)

In [ ]:
#P(A U B) = P(A) + P(B) - P(A ∩ B)

In [ ]:
# What is the probability that Sachin Tendulkar scored more than 50 runs or India won the match in his ODI career?

# Total matches
total_matches = len(sachin_data)

# Event A: Sachin scored > 50 runs
event_A = sachin_data[sachin_data['runs'] > 50]

# Event B: India won the match
event_B = sachin_data[sachin_data['Won'] == True]

# Intersection (A ∩ B): Matches where Sachin scored > 50 runs and India won
intersection = pd.merge(event_A, event_B, how='inner')



P_A = len(event_A) / total_matches
P_B = len(event_B) / total_matches

P_A_intersection_B = len(intersection) / total_matches

P_A_UNION_B = P_A + P_B - P_A_intersection_B

print(P_A_UNION_B)

0.6388888888888888

In [ ]:
#multiplication rule

#Probabilty of both the events happening # joint # intersection

$
P(A \cap B) = P(A) \cdot P(B \mid A)
$

In [ ]:
## What is the probability that Sachin Tendulkar scored more than 50 runs and India won the match in his ODI career?
# Event A: Sachin scored > 50 runs
P_A = len(event_A) / total_matches

# Conditional probability: P(B | A)
conditional_data = sachin_data[sachin_data['runs'] > 50]
P_B_given_A = len(conditional_data[conditional_data['Won'] == True]) / len(event_A)

# Applying the multiplication rule
P_A_intersection_B = P_A * P_B_given_A

print(f"Probability of scoring > 50 runs and India winning: {P_A_intersection_B:.4f}")

Probability of scoring > 50 runs and India winning: 0.2028

In [ ]:
#marginal

event_C = sachin_data[sachin_data['century'] == True]
P_C = len(event_C) / total_matches

In [ ]:
P_C

0.12777777777777777

In [ ]:
event_D = sachin_data[(sachin_data['runs'] > 50) & (sachin_data['sixes'] > 0)]

In [ ]:
len(event_D)/total_matches

0.18888888888888888

In [ ]:
# Bonus----> Bayes Theorem ---> Naive Bayes (MACHINE LEARNING ALGORITHM)

In [ ]:
## Given that Sachin Tendulkar batted first in an ODI match, what is the probability that he scored a century?

# Define the events
event_A = sachin_data[sachin_data['century'] == True]  # Event A: Scored a century
event_B = sachin_data[sachin_data['Inns'] == 1]        # Event B: Batted first

# Total matches
total_matches = len(sachin_data)

# Probabilities
P_A = len(event_A) / total_matches  # Prior probability of scoring a century
P_B = len(event_B) / total_matches  # Probability of batting first
P_B_given_A = len(event_A[event_A['Inns'] == 1]) / len(event_A)  # Likelihood

# Bayes' Theorem
P_A_given_B = (P_B_given_A * P_A) / P_B

print(f"Probability of scoring a century given Sachin batted first: {P_A_given_B:.4f}")